// Generic b/w
// ------------------------------------------------------------------------------
$bravo_bw: scale-color($alpha_bw, $lightness: 10%) !default;
$charlie_bw: scale-color($alpha_bw, $lightness: 20%) !default;
$delta_bw: scale-color($alpha_bw, $lightness: 30%) !default;
$echo_bw: scale-color($alpha_bw, $lightness: 40%) !default;
$fox_bw: scale-color($alpha_bw, $lightness: 50%) !default;
$golf_bw: scale-color($alpha_bw, $lightness: 60%) !default;
$hotel_bw: scale-color($alpha_bw, $lightness: 70%) !default;
$india_bw: scale-color($alpha_bw, $lightness: 80%) !default;
