// Main configuration
// ------------------------------------------------------------------------------

$default_font_size: 15px;
$default_line_height: 1.5;

$default_font_family: #{'Trebuchet MS', Helvetica, Arial, sans-serif, sans};

$default_space: 8px;
