// Admin styles
// ------------------------------------------------------------------------------
/*
NOTE
Highlight strong tags which are often placed into the language file and thus cannot be edited by a theme
*/
strong {
	font-weight: normal !important;
}

strong:before {
	content: "!";
	color: crimson;
}

// Fix for overview table
#overview table {
	margin: 0;
}

.tborder {
	@extend .table_blank;
}

