// Layout structure
// ------------------------------------------------------------------------------
.wrapper {
	width: 90%;
	min-width: 970px;
	max-width: 1680px;
	margin: 0 auto;
}

// Layout elements
// ------------------------------------------------------------------------------


/* HEADER START */
#header {
	overflow: auto;

	header {
		@extend .wrapper;
		margin-top: $mid-space;
		margin-bottom: $mid-space;
		display: flex;
	}
}

#logo {
	display: block;
	overflow: hidden;
	flex: 1;
	margin-right: $base-space;
	img {
		float: left;
		border-width: 0 0 0 $base-border-width;
		border-style: solid;
		border-color: #666;
		padding: $base-space;
		&:hover {
			border-color: $alpha_bw;
		}
	}
}

.menu {
	margin: 0;
	padding: 0;
	li {
		float: left;
		margin-right: $small-space;
		list-style: none;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	span {
		display: inline-block;
		width: $base-space;
		height: $base-space;
		background-image: url(images/klarsichtweise/nav-top-sprite.png);
		background-repeat: no-repeat;
	}
}

.top_links {
	flex: 0 0 auto;
	overflow: auto;
	li {
		padding: $base-space 0;
		border-width: $base-border-width 0;
		border-style: solid;
		border-color: transparent;
		&:hover {
			border-color: $alpha_bw;
		}
	}
	a {
		display: block;
		padding: 0 $base-space;
	}
	span {
		margin-bottom: 8px;
	}
	.sub-menu {
		li:first-child {
			padding-top: 0;
		}
		li {
			float: none;
			padding-bottom: 0;
			border: 0;
		}
	}
	.search span {
		background-position: 0 0;
	}
	.members span {
		background-position: 0 -16px;
	}
	.calendar span {
		background-position: 0 -32px;
	}
	.help span {
		background-position: 0 -48px;
	}
	.portal span {
		background-position: 0 -144px;
	}
	.smiley span {
		background-position: 0 -160px;
	}
	.statistics span {
		background-position: 0 -176px;
	}
}

.panel_links, .user_links {
	a {
		display: inline-block;
	}
}
.panel_links {
	float: left;
	span {
		margin-right: $small-space;
	}
	.usercp span {
		background-position: 0 -80px;
	}
	.modcp span {
		background-position: 0 -96px;
	}
	.admincp span {
		background-position: 0 -112px;
	}
}

.user_links {
	float: right;
	li {
		margin-right: 0;
		margin-right: $small-space;
	}
}



#panel .upper a.logout {
	font-weight: bold;
	background: url(images/headerlinks_sprite.png) right -80px no-repeat;
	padding-right: 20px;
	margin-left: 10px;
}

#panel .upper a.login,
#panel .upper a.lost_password {
	background: url(images/headerlinks_sprite.png) 0 -100px no-repeat;
	padding-left: 20px;
	margin-left: 10px;
	font-weight: bold;
}

#panel .upper a.register {
	background: url(images/headerlinks_sprite.png) right -80px no-repeat;
	padding-right: 20px;
	margin-left: 10px;
	font-weight: bold;
}

#panel .upper {
	background: #0F0F0F url(images/tcat.png) repeat-x;
	color: #FFF;
	border-top: 1px solid #444;
	border-bottom: 1px solid #000;
	padding: 7px;
	clear: both;
}

#panel .upper a:link,
#panel .upper a:visited,
#panel .upper a:hover,
#panel .upper a:active {
	color: #FFF;
}

#panel .lower {
	overflow: auto;
	background: #EFEFEF;
	color: #999;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #CCC;
	padding: 5px;
}

#panel .lower a:link,
#panel .lower a:visited,
#panel .lower a:hover,
#panel .lower a:active {
	color: #666;
}

#search {
	border: 0;
	padding: 0;
	margin: 0;
	float: right;
	vertical-align: middle;
}

#search input.button,
#search input.textbox {
	border-color: #000;
}

#search input.button {
	background: #0066A2 url(images/thead.png) top left repeat-x;
	color: #FFF;
}

#search input {
	margin: -3px 0;
}

#quick_login .remember_me input {
	vertical-align: middle;
	margin: -3px 0 0 5px;
}

/* HEADER END */

