.tborder {
	// background-color: rgba($white,.75);
}

.thead {
	background-color: rgba($white,.9);
}

.tcat {
	background-color: rgba($white,.75);
}

.trow1 {
	// background: #F5F5F5;
	background: rgba($white,.75);
}

.trow2 {
	// background: #EFEFEF;
	background: rgba(white,.7);
}
