.test {
	li:after {
		content: "";
		display: block;
		height: 16px;
	}
}

.front_color_1 { color: $alpha_color; &:after { background-color: $alpha_color; } }
.front_color_2 { color: $bravo_color; &:after { background-color: $bravo_color; }  }
.front_color_3 { color: $charlie_color; &:after { background-color: $charlie_color; }  }
.front_color_4 { color: $delta_color; &:after { background-color: $delta_color; }  }
.front_color_5 { color: $echo_color; &:after { background-color: $echo_color; }  }

.back_color_1 { background-color: $alpha_color;}
.back_color_2 { background-color: $bravo_color;}
.back_color_3 { background-color: $charlie_color;}
.back_color_4 { background-color: $delta_color;}
.back_color_5 { background-color: $echo_color;}

%label {
	padding: 0 $half_space;
}

.label_1 {
	@extend %label;
	@extend .back_color_1;
}

.label_2 {
	@extend %label;
	@extend .back_color_2;
}

.label_3 {
	@extend %label;
	@extend .back_color_3;
}

