// Check if necessary
$font_size: 1.3rem;
$line: $font_size * 1.4;

$heading_1: 48;
$heading_2: 32;
$heading_3: 24;

$text_1: 12;
$text_2: 20;

$primary_font_family: #{'Helvetica Neue', Arial, sans-serif};
$secondary_font_family: #{Times, serif};

// COLORS
// ------------------------------------------------------------------------------
$alpha_primary: #fcd5a1;
$bravo_primary: #3e4147;
$charlie_primary: #fffedf;
$delta_primary: #2a2c31;
$echo_primary: #dfba69;

$alpha_bw: black;
$white: white;

// LAYOUT
// ------------------------------------------------------------------------------
$base-border-width: $half_space;
$base-space: $space_2;
$small-space: $base-border-width;
$mid-space: $space_3;

$base-box-width: 28%;
$base-box-space: 3%;
$mid-box-pos: 36%;
$top-box-pos: 14%;
$solid-box-width: $base-box-width + $base-box-space;


$india_bw: #cccccc;